@mixin dFlex($justify,$align,$gap) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
    // @media screen and (max-width: 768px){
    //     flex-direction: column;
    // }
}