//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color:#272727c5;
$secondary-color:#ff652f;
$text-color:#eee;

//*Font 

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//* img variables

$becoo: '../../../public/img/Becoo.png';
$github-img:'../../../public/img/github-img.png';
$icon:'../../../public/img/icon1.png';
$laptop:'../../../public/img/laptop.jpg';
$laptop1:'../../../public/img/laptop1.jpg';
$technology:'../../../public/img/technology.jpg';
$world:'../../../public/img/world.png';